body{
    margin:0;
    background:#E8D8B8;
    font-family:'Poppins',sans-serif;
}

.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-card{
    width:430px;
    padding:40px;
    border:3px solid #5A3E2B;
    border-radius:15px;
    background-image:url("../assets/images/paper1.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow:0 15px 30px rgba(0,0,0,.15);
    background-blend-mode: lighten;
}

.login-card h1{
    text-align:center;
    font-family:'Cinzel',serif;
    color:#5A3E2B;
    letter-spacing:3px;
}

.subtitle{
    text-align:center;
    color:#efdcdc;
    margin-bottom:35px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    color:#5A3E2B;
}

.input-group input{
    width:100%;
    padding:13px;
    border:2px solid #C7B18A;
    border-radius:8px;
    outline:none;
    font-size:15px;
    box-sizing:border-box;
}

.input-group input:focus{
    border-color:#8E2A2A;
}

.register-link{
    margin-top:20px;
    text-align:center;
    font-size:14px;
}

.register-link a{
    color:#8E2A2A;
    text-decoration:none;
    font-weight:600;
}

.register-link a:hover{
    text-decoration:underline;
}

.remember{
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:25px;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#8E2A2A;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#A93636;
    transform:translateY(-2px);
}